.nav-arrow {
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 75px;
    outline: none;
  }

#landing  {
    background-image: url('../images/Landing_Img1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 0px auto;
    align-content: center;
}

#landing p {
    background-color: rgba(249, 78, 255, 0.7);
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-size: 24px;
    max-width: 200px;
    position: absolute;
    top: 50%;
    left: 43%
}