@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700|Monoton&display=swap');

.nav-container {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0 auto;
}

.line-dark {
    visibility: hidden;
}

.nav {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    width: 99vw;
    height: 40px;
    background-image: linear-gradient(180deg, #ffffffbb 90%, transparent);
    z-index: -10;
    padding: 10px;
    font-weight: 300;
}

.nav div {
    margin: 10px;
    line-height: 0.75;
}

.nav div:last-child .nav-item{
    padding: 10px;
    background-color: #B53CBA;
    color: #fff;
    border: 1px solid #B53CBA;
    border-radius: 7px;
    font-weight: bolder;
    border: 2px solid #fff;
}

.nav div:last-child .nav-item:hover{
    background-color: #930A97;
    font-weight: bolder;

}


.nav-item {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
    font-family: "open sans";
    font-weight: 100;
    font-size: 18px;
    outline: none;
    z-index: 100;
}

.nav-item:hover {
    color: #B53CBA;
}

#logo {
    z-index: 100;
    left: 10px;
}

@media (max-width: 900px){

    .nav-container {
        left: 50px;
    }

    #logo {
        z-index: 100;
        left: 20px;
    }

    .line-dark {
        margin: 5px 10px;
        border-bottom: 3px solid #B53CBA;
        visibility: visible;
    }
    
    .line-light {
        margin: 5px 10px;
        border-bottom: 3px solid #B53CBA;
        visibility: visible;
    }

    .nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0px;
        margin: 0 auto;
        font-size: 28px;
        background-color: #fff;
        background-image: none;
        padding-top: 75px;
        text-align: left;
        height: 100vh;
        width: 100vw;
        max-width: 265px;
        transition: 0.7s;
        z-index: -1;
    }
    .open {
        left: 0px;
        opacity: 1;
        transition: 0.7s;
    }
    .closed {
        left: -100vw;
        opacity: 0;
        transition: 0.7s;
    }

    .nav div {
        margin: 30px auto;
    }

    .nav-item {
        color: #000;
        font-size: 24px;
        display: flex;
        margin-left: 10px;
    }

    .nav-item:hover {
        color: #B53CBA;
    }

    .nav-btn {
        position: fixed;
        width: 40px;
        height: 35px;
        top: 5px;
        left: 10px;
        border: 0px solid transparent;
        border-radius: 3px;
        padding-top: 5px;
        z-index: 100;
        /* background-color: #B53CBA; */
    }
}